.pic{}

.box{}

.box1{
	height:400px;
	width:350px;
	background-color:rgba(153,0,51,1);
	margin-left:200px;
	border-radius: 25px 10px 25px 10px;
	border-color:rgba(0,153,51,1);
	border-style:double;
	border-width:3;
	}

.box2{
	height:200px;
	width:150px;
	background-color:rgba(153,102,51,1);
	margin-left:100px;
	margin-top:100px;
	border-radius: 15px 5px 15px 5px;
	border-style:dashed;
	border-width:1;
	border-color:rgba(204,255,0,1);
	}
.box2:hover{
	height:200px;
	width:150px;
	background-color:rgba(153,102,51,0.4);
	margin-left:100px;
	margin-top:100px;
	border-radius: 15px 5px 15px 5px;
	border-style:dashed;
	border-width:1;
	border-color:rgba(204,255,0,1);
	}
